body {
      font-family: Arial, sans-serif;
      background: #0f172a;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      overflow-x: hidden;
    }

    .container1 {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      width: 300px;
      text-align: left;
    }

    h2 {
      margin-bottom: 1rem;
      color: #333;
    }

    .form-group{
      padding: 200px;
    }

    input,textarea {
      width: 90%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #0275b8;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    #edit {
      width: 100%;
      padding: 10px;
      background: #059c00;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    #del {
      width: 100%;
      padding: 10px;
      background: #df0000;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: #0f172a;
    }

    a {
      width: 100%;
      display: block;
      margin-top: 10px;
      color: #0f172a;
      text-decoration: none;
      font-size: 14px;
    }

    a:hover {
      text-decoration: underline;
    }