/* Footer */

.container3{
    background: linear-gradient(-229deg, #0D1F4A, #004b8a);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container3 .redes .logo-redes a img{
    background-color: white;
    padding: 1%;
}

.container3 .redes .logo-redes a img:hover{
    transform: scale(1.1);
}

.container2{
    .topo {
        position: fixed;
        bottom: 30px;
        right: 30px;
        background: #444;
        color: white;
        padding: 10px 15px;
        border-radius: 8px;
        text-decoration: none;
      }
}

.container3 .redes{
    width: 50%;
    text-align: justify;
    padding: 2%;
}