*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/* Header */

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container1 .chilld1{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 1% 5%;
    z-index: 3;
}



.container1 .chilld1 .link ul{
    display: flex;
}

.container1 .chilld1 .link ul li{
    padding: 4%;
}

.container1 .chilld1 .link ul li a{
    color: rgba(0, 0, 0, 0.651);
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
}

.container1 .chilld1 .link ul li a:hover{
    color: #1c85e7;
    transition: ease-in 0.3s ;
    transform: scale(1.1) translateY(-2px);
}

.container1 .chilld1 .log a{
    padding: 2%;
    color: #1c85e7;
}

.container1 .banner{
    background-image: url(/img/mrslc.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    box-shadow: inset 100px 1000px 1000px rgba(0, 0, 0, 0.39);
    width: 100vw;
    height: 700px;
}

.container1 .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 .banner .nome h1{
    color: white;
    font-size: 50pt; 
}

.container1 .banner .slogan p{
    color: white;
    font-size: 25pt;
}

.container1 .banner .busca{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

.container1 .banner .busca input{
    background-color: #ffffff;
    padding: 0.5%;
    width: 25rem;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.815);
    color: rgba(0, 0, 0, 0.616);
    font-size: 12pt;
}

.container1 .banner .busca input:hover{
    background-color: #ffffff5d;
    padding: 0.5%;
    width: 25rem;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.815);
    color: rgb(255, 255, 255);
    font-size: 12pt;
    transition: ease-in-out 0.5s;
}

.container1 .banner .busca a{
    padding: 0.5%;
    width: 10rem;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    background-color: #1c85e7;
    color: white;
    font-size: 12pt;
}

.container1 .banner .busca .btn{
    position: relative;
    right: 140px;
    padding: 0.4%;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    background-color: #1c85e7;
    color: white;
    font-size: 12pt;
}

.container1 .banner .busca .btn:hover{
    background-color: #0D1F4A;
    transition: all 0.5s ease-in-out;
}